@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
/*BODY*/
body{
    background: #0f0c29; 
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}
.grid{
    width: 100%;
    height:80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:65px 1fr 1fr 1fr 150px;
    grid-template-areas: 
    "nav nav nav nav"
    "main main main main"
    "main main main main"
    "main main main main"
    "footer footer footer footer";
}
/*HEADER*/
.header{
    grid-area: nav;
    height: 10vh;
    background-color:#17202A;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 10vh;
}
.sub__menu{
    text-decoration: none;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.sub__menu:hover{
    background: #004e92;
    transition: .5s;
}
/*MAIN*/
.main{
    grid-area: main;
    width: auto;
    height: auto;  
    flex-wrap: wrap;
    display:flex;            
}
/*INDEX*/
h1{
    color: #efefef;
    width: 100%;
    font-family: 'Carter One', cursive;
    display: flex;
    align-items: center;
    justify-items: center;
    position: relative;
    font-size: 5rem;
    padding: 10px 10px 10px 400px;
} 
.center{
    display: grid;
    grid-template-columns: 2;
}
.center{
    grid-column: 1;
    background-color: rgba(216, 212, 212, 0.349);
    border-radius: 5%;
    width: 90%;
    height: 80%;
    margin:20px;
    margin-bottom: 10px;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr;
}
.center{
    -webkit-animation-name: center;
    animation-name: center;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes center {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    }
    @keyframes center {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    } 
.contenido__li{
    list-style: none;
    color: #e6dfdf;
    margin: 20px;
    margin-left: 85px;
    line-height: 50px;
    padding: 15px;
    font-family: 'Kanit', sans-serif;
    font-size: 2.4rem;
    cursor: pointer;
    text-transform: uppercase;
}
.contenido__li:hover{
    background-color: #283a5e;
    transition: 0.5s;
}
.foto-perfil{
    display: grid;
    grid-column: 2;
    grid-column: 3/5;
    margin-left: -5%;
    width: 80%
}
.foto-perfil figure a img{
    margin: 20px 5px 20px 50px;
    border-radius: 5%;
}

/*PORTAFOLIO*/
.row{
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.row{
    width: 100%;
}
.column-1 .photo{
    width: 100%;
    margin: auto;
    grid-column: 1/5;
}
.column-2 .photo{
    width: 100%;
    margin: auto;
    grid-column: 2/5;
}
.column-3 .photo{
    width: 100%;
    margin: auto;
    grid-column: 3/5;
}
.column-4 .photo{
    width: 100%;
    margin: auto;
    grid-column: 4/5;
}

/*FORMULARIO*/
.formu{
    background: #000428;  
    background: -webkit-linear-gradient(to top, #004e92, #000428);  
    background: linear-gradient(to top, #004e92, #000428); 
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
    height: 700px;
    display:flexbox;
    justify-content:center;
    align-items:center;

}
.form__titulo{
    position: relative;
    color:#ffffff;
    font-size: 30px;
    margin-top: -50px;
    margin-left: -200px;
    font-weight: 90;
}

.form__titulo2{
    position:relative;
    color:whitesmoke;
    font-family: 'Courgette', cursive;
    margin-top: 15px;
    font-size: 20px;
    margin-left: 70px;
}
.form__titulo3{
    position: relative;
    color: white;
    font-family: 'Courgette', cursive;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 190px;
}
.form{
    background: #283a5e;
    padding: 70px 0;
    box-shadow:0 0 6px 0 rgb(255, 255, 255,0.8);
    border-radius: 10%;
}
.form{
    width: 37%;
    margin: 30px 400px;
}
form .grupo{
    position: relative;
    margin: 55px;
}

input{
    background: none;
    color:#ffffff;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    border-bottom: 1px solid;
}
input:focus{
    outline: none;
    color:#e6dfdf;
}
label{
    color:#000000;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: -30px;
    transition: 0.5s ease-in-out all;
    pointer-events: none; 
}
button{
    font-family: 'Rubik', sans-serif;
    background: #004e92;
    border:none;
    display: block;
    width: 60%;
    margin: 10px auto;
    color:#fff;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
}
/*SOBRE MI*/
.conten__titulo{
    font-size: 3rem;
    margin-top: 60px;
    margin-left: -90px;
    position: relative;
    height: 1%;
    width: 50%;
    color:#e6dfdf;

}

.conten__texto{
    font-size: 2rem;
    color:#e6dfdf;
    margin: 10px;
    padding: 30px;
    text-align:justify;
    width: 50%;
}
.firma{
    color:#e6dfdf;
    font-size: 2rem;
    font-family: 'Splash', cursive;
    margin-left: 500px;
}
.oficio{
    color: #e6dfdf;
    font-size: 1.5rem;
    margin-left: 490px;
}
.conten__imagen{
    margin-bottom: 5px;
    width: 30%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 6px 6px 20px #000000;
    position: relative;
    top: -400px;
    right: 0px;
    left: 800px;
}
.conten__imagen {
    -webkit-animation-name: conten__imagen;
    animation-name: conten__imagen;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes conten__imagen {
    0% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
    }
    60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
    }
    80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
    }
    100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    }
    }
    @keyframes conten__imagen {
    0% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
    }
    60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
    }
    80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
    }
    100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    }
    } 
/*SERVICIO*/
.titulo-ser{
    color:#e6dfdf;
    font-size: 3rem;
    text-align-last: justify;
    padding: 3rem;
    margin:50px 0px;
    width: 15%;
    top: 10%;
    height: 5px;
    margin-top: 0rem;
}
.titulo-ser2{
    color:#e6dfdf;
    font-size: 2rem;
    padding: 1rem;
    margin-top: 5%;
    bottom: 5%;
    width: 30%;
    height: 2px;  
}
.point{
    color:#e6dfdf;
    font-size: 2rem;
    margin-left: 15px;
    margin-top: 1%;
    margin-bottom: 0%;
}
.lyrics{
    color:#e6dfdf;
    font-size: 1.5rem;
    justify-content:space-around;
    margin-left: 15px;
    margin-top: 2%;
    margin-bottom: 2%;
}
iframe{
    margin-left: 15px;
}
/*FOOTER*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
    grid-area: footer;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1900px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:80px;
}
.pie-pagina .grupo-1 .box figure{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.pie-pagina .grupo-1 .box figure img{
    width: 150px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    position: relative;
    bottom: -20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    font-size: 1.5rem;
    margin-bottom: 10px;
    position: relative;
    bottom: -40px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 35px;
    height: 35px;
    line-height: 50px;
    color: #fff;
    margin-right: 15px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
    position: relative;
    bottom: -25px;
}
.pie-pagina .grupo-1 .red-social a :hover{
    background-color: #efefef;
}
.pie-pagina .grupo-2{
    background-color: #131516;
    padding:10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 12px;
}
/*MEDIA QUERIES*/
